body {
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/learn-css-selectors-visual-rules/hypnotize_bg.png");
    font-family: "Raleway", sans-serif;
    text-align: center;
}

h1 {
    border: 15px solid white;
    margin: 0 auto;
}

.hours {
    border: 14px dotted red;
}

.contact {
    border: 14px dotted red;
}

.location {
    border: 14px dotted red;
}

.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
}

.share {
    border: 1px solid LightGrey;
    padding: 40px 0px;
    position: relative;
    text-align: center;
    width: 100%;
}

.share a {
    background: red;
    border 1px solid red;
    border-radius: 3px;
    color: white;
    display: inline-block;
    margin: 10px;
    padding: 14px;
    text-decoration: none;
}

.share a:hover {
    background: white;
    border: 1px solid red;
    color: red;
}