body {
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/learn-css-selectors-visual-rules/hypnotize_bg.png");
    font-family: 'Raleway', sans-serif;
}

.navigation ul {
    margin: 0;
    padding: 0;
    text-align: center;
}
.navigation li {
    font-weight: 100;
    letter-spacing: 2px;
    padding: 20px;
}

#banner {
    background-image: url("sashimi.html");
    background-size: cover;
    background-position: bottom center;
    height: 700px;
    width: 100%;
}

#banner .content h1 {
    border: 3px solid white;
    position: relative;
    top: 50px;
    width: 400px;
    margin: 0 auto;
}

#main {
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    width: 400px;
    height: 1000px;
    overflow: scroll;
}

h1 { 
    font-family: "Brush Script MT", cursive; 
    font-size: 50px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 53.9px; 
}

h2 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: rgba(225, 225, 225, 0.5);
    font-weight: 100;
    font-size: 22px;
    line-height: 24px;
    padding-bottom: 30px;
    text-align: left;
    width: 70%;
}

h1 {
    text-align: center;
}

.share {
    border: 1px solid LightGrey;
    padding: 40px 0px;
    position: relative;
    text-align: center;
    width: 100%;
}

.share a {
    background: red;
    border 1px solid red;
    border-radius: 3px;
    color: white;
    display: inline-block;
    margin: 10px;
    padding: 14px;
    text-decoration: none;
}

.share a:hover {
    background: white;
    border: 1px solid red;
    color: red;
}